body {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    font-family: 'Raleway', sans-serif;
    background-color: black;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    z-index: -2;
}
#name {
    place-items: center;
    font-size: 40px;
    color: white;
}
#navigation {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1/17;
    align-items: center;
    height: 200px;
}
#nav_options {
    display: flex;
    justify-content: right;
    width: 35vw;
}
nav ul li{
    display: inline;
    margin: auto;
    margin-right: 0;
    list-style-type: none;
    font-size: 25px;
    transition: transform 0.3s;
}
nav ul li a {
    text-decoration: none;
    color: rgb(38, 176, 223);
}
nav ul li:hover {
    transform: scale(1.2);
    color: rgb(23, 150, 193);
}
#profile-pic {
    background-image: url('IMG_0294.JPG');
    background-size: 100% 100%;
    width: 20vw;
    height: 20vw;
    border-radius: 2000px;
}
#pic_and_typing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 8/8;
}
#typewriter {
    display: inline-block;
}
.text {
    font-size: 2em;
    letter-spacing: 5px;
    color: white;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    animation:
        typing 3s steps(15),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent}
}
@keyframes typing {
    from {width: 0}
}