html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(50, 10vh);
    font-family: 'Raleway', sans-serif;
    background-color: black;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    z-index: -2;
}
#name {
    place-items: center;
    font-size: 40px;
    color: white;
}
#navigation {
    display: flex;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1/17;
    align-items: center;
    height: 200px;
    max-height: 50%;
    align-self: center;
    margin-top: 40px;
}
#nav_options {
    display: flex;
    justify-content: right;
    width: 45vw;
}
nav ul li{
    display: inline;
    margin: auto;
    margin-right: 0;
    list-style-type: none;
    font-size: 25px;
    transition: transform 0.3s;
}
nav ul li a {
    text-decoration: none;
    color: rgb(38, 176, 223);
}
nav ul li:hover {
    transform: scale(1.2);
    color: rgb(23, 150, 193);
}
#profile-pic {
    background-image: url('IMG_0294.JPG');
    background-size: 100% 100%;
    width: 20vw;
    height: 20vw;
    border-radius: 2000px;
    box-shadow: 0 0 35px rgb(38, 176, 223);
    transition: 0.4s ease-in-out;
}
#profile-pic:hover {
    box-shadow: 0 0 35px rgb(38, 176, 223),
                0 0 75px rgb(38, 176, 223);
}
#pic_and_typing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 8;
    grid-row: 6;
    max-width: 50%;
    justify-self: center;
    align-self: center;
}
#typewriter {
    display: inline-block;
}
.text {
    font-size: 2em;
    letter-spacing: 5px;
    color: white;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    animation:
        typing 1s steps(12), CursorEnd .4s forwards,
        cursor .4s step-end infinite alternate;
    margin-bottom: 0;
}
@keyframes cursor {
    50% {border-color: transparent}
}
@keyframes typing {
    from {width: 0}
}
#description{
    display: inline-block;
}
.text2 {
    font-size: 2em;
    letter-spacing: 5px;
    color: white;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    animation:
        typing2 1s steps(34),
        cursor2 .4s step-end infinite alternate;
    animation-delay: 1s;
}
@keyframes cursor2 {
    50% {border-color: transparent}
}
@keyframes typing2 {
    from {width: 0}
}
#heading {
    color: white;
    font-size: 40px;
}
#about_me {
    grid-row: 12;
    grid-column: 8;
    justify-self: center;
}